body {
    font-family:"Gill Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('output_image.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

html {
    box-sizing: border-box;
    background-color: #fff;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

@media (min-width: 48em) {
    html {
        font-size:18px
    }
}

header {
    background-color: #ffffff00;
    color: rgba(255, 255, 255, 0);
    text-align: center;
    padding: 1em;
    
}

#main {
    display: flex;
} 

#contentBody {
    flex-grow: 2; 
    padding: 20px;
  
}

hr {
    color:#0e1010;
}

section {
    margin: 20px;
}

#fredinha {
    color:rgb(1, 1, 1);
    text-align: center;
    font-family:"Gill Sans", sans-serif;
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

.item {
    margin-bottom: 20px;
}

footer {
    background-color:  #ffffff85;
    color: white;
    text-align:center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    margin-right: 20px;
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

#fredaPic {
    max-width:100%;
    max-height:100%;
    float: left;
    margin-bottom: 15px;
}

#fredaPic.img-thumbnail {
    background-color:gainsboro ;
}

#descBody,#workContent,#publicationsContent,#wipContent,#contentAtBottom {
    font-family:"Gill Sans", sans-serif;
    background-color: rgba(19, 193, 220, 0.499);
    overflow: hidden;
    margin-top: 80px;
    padding: auto;
    margin-right: 20px;
}

#teachingButtom {
    color: #0e1010 ;
}

.btn popovers {
    --bs-popover-max-width: 200px;
    --bs-popover-border-color: var(--bd-violet-bg);
    --bs-popover-header-bg: var(--bd-violet-bg);
    --bs-popover-header-color: var(--bs-white);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
  }

  .sidebar {
    position: sticky;
    top: 0;
    left: 0;
    width: 250px;
    padding: 20px;
    background-color: #ffffff85;
    margin-bottom: 0px;
    
  }
  
  .sidebar .author__content {
    text-align: center; 
    margin-top: 10px; 
    margin-right: 10px;
  }
  
  .author__bio {
    margin: 10px 0; 
    font-size: 15px;
  }
  
  .social-icons li {
    margin-bottom: 10px;
    list-style: none;
  }
  
  
  .social-icons img {
    width: 42px;
    height: 42px;
    margin-right: 10px;
  }
  